/* Base styles for the website */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f2f2f2;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

main {
    padding: 15px;
}

footer {
    background-color: #f2f2f2;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

img {
    max-width: 100%;
    height: auto;
}
figure img {
    max-width: 250px;
}